<div class="container">
    <div style="height:3vh"></div>
    <span *ngIf="displayLeftRight==true; then leftRightTemplate; else lookupAndFinishPayButtonsTemplate"></span>

    <ng-template #leftRightTemplate>
        <div class="row leftRightHeight">
            <div class="col-sm-6" style="background-color:lavender;">
                <app-onload-left></app-onload-left>
                
            </div>
            <div class="col-sm-6" style="background-color:rgba(230, 245, 250, 0.938);">
               
                <app-onload-right  (onClicking)="onClickingMemberButton()"></app-onload-right>
            </div>
        </div>
    </ng-template>

    <ng-template #lookupAndFinishPayButtonsTemplate>
        <span *ngIf="lookupFinishPayButtons==true; then lookupFinishButtonsTemplate; else lookupItemsAndFinishPayTemplate"></span>
        <ng-template #lookupFinishButtonsTemplate>
            <div class="row leftRightHeight">
                <div class="col-sm-6" style="background-color:lavender;">
                    <app-logo-table [itemDetailsArr]="itemDetailsArr"></app-logo-table>
                </div>
                <div class="col-sm-6" style="background-color:rgba(230, 245, 250, 0.938);">
                   <app-lookup-finishpay (onClickLookup)="onClickingLookupButton()" (onClickingFinishPay)="onClickingFinishPay()" ></app-lookup-finishpay>
                                    
                </div>
            </div>
        </ng-template>

        <ng-template #lookupItemsAndFinishPayTemplate>
            <span *ngIf="lookupFinishFlow==true; then lookupItemTemplate; else finishAndPayTemplate"></span>
            <!-- -->
            <ng-template #lookupItemTemplate>
                <div class="row leftRightHeight">
                    <div class="col-sm-12" style="background-color:rgba(231, 241, 245, 0.938);">
                        <!-- -->
                        <app-lookup-item (goToLookupFinishPayButtonPage)="onClickingItem($event)"></app-lookup-item>
                    </div>
                </div>
            </ng-template>

            <!-- -->
            <ng-template #finishAndPayTemplate>
                <!-- -->
                <!--<span *ngIf="finishAndPay==true"></span>-->
                <div class="col-sm-12" style="background-color:rgba(231, 241, 245, 0.938);">
                <app-finish-pay></app-finish-pay>
            </div>
            </ng-template>
        </ng-template>
    </ng-template>
    <!--End of the body -->

    <!--Footer start-->
    <div class="row bottom">
        <div class="col-sm-12" style="background-color:yellow;">Footer</div>
    </div>
    <!--Footer end-->

    <div style="height:3vh"></div>
</div>