<div class="row leftRightHeight">
  <div class="col-sm-12 item-scroll">
    <h3>Please enter the below details:</h3>
    <br>

    <table>

      <tr>
        <td>Card Number: </td>
        <td>
          <input type="text">
        </td>
      </tr>

      <tr>
        <td>Expiry Date: </td>
        <td>
          <select>
            <option>---select month---</option>
            <option>Jan</option>
            <option>Feb</option>
            <option>Mar</option>
            <option>Apr</option>
            <option>May</option>
            <option>Jun</option>
            <option>Jul</option>
            <option>Aug</option>
            <option>Sep</option>
            <option>Oct</option>
            <option>Nov</option>
            <option>Dec</option>
          </select>
        </td>
      </tr>

      <tr>
        <td>Card Code: </td>
        <td>
          <input type="text">
        </td>
      </tr>

      <tr>
        <td colspan=2 align="center">
          <input type="submit" name="submitButton" value="submit">
        </td>
      </tr>

    </table>
  </div>
</div>