<div class="row leftRightHeight">
    <div class="col-sm-12 item-scroll">
        <h3>Please enter the below details:</h3>
        <br>
        
<table>

<tr>
  <td>Name on the Card: </td>
  <td><input type="text"></td>
</tr>

<tr>
    <td>Card Number: </td>
    <td><input type="text"></td>
  </tr>

  <tr>
      <td>Expiry Date: </td>
      <td><select>
        <option>---select---</option>
        <option>2018</option>
        <option>2019</option>
        <option>2020</option>
        <option>2021</option>
      </select></td>
    </tr>

    <tr>
        <td>Card Code: </td>
        <td><input type="text"></td>
      </tr>

      <br>

      <tr>
					<td colspan=2 align="center"><input type="submit" name="submitButton" value="submit"></td>
			</tr>

</table>
</div>
</div>